 /* Estilos para los botones */
 .dropdown-menu {
  display: flex;
  justify-content: flex-end;
}

.dropdown-item {
  /* Estilos comunes para los botones */
  padding: 0.5rem 1rem;
  text-decoration: none;
  color: #333;
}

/* Al pasar el mouse sobre un botón */
.dropdown-item:hover {
  background-color: #f0f0f0;
}

/* Al hacer clic en un botón */
.dropdown-item:active {
  background-color: #ddd;
}